/*---GENERAL--------*/
*,
	&::after,
	&::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
@colorLight: #ffffff;
@colorDark: #3c3c3c;
@font: 'Lato', sans-serif;
.section() {
	min-width: 980px;
	max-width: 1900px;

}

/*---END_GENERAL--------*/

/*---SVG--------*/
svg {
	width: 0;
	height: 0;
}

.scroll {
	width: 23px;
	height: 37px;
	fill: white;
}
.pen {
	width: 80px;
	height: 84px;
}
.dev {
	width: 79px;
	height: 91px;
}
.product {
	width: 79px;
	height: 76px;
}
/*---END_SVG--------*/
/*---HEADER--------*/
.header {
	.section;
	background: url(../img/hero-bg.jpg) no-repeat;
	background-size: cover;

}
.main {
	width: 900px;
	margin: 0 auto;
	padding: 0 150px;
	text-align: center;
}
.header_main {
	padding-top: 125px;
	padding-bottom: 120px;

}
.logo{
  display: inline-block;
  width: 72px;
  height: 70px;
  stroke: white;
  fill: none;

}
.h1 {
	font-family: @font;
	color:  @colorLight;
	font-size: 54px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	letter-spacing: .16em;
	text-transform: uppercase;
	padding-top: 95px;
}
.header_describe {
	font-family: @font;
	color: @colorLight;
	font-size: 15px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: .06em;
	text-transform: uppercase;
	padding-top: 53px;
	padding-bottom:240px;
}
/*---END_HEADER--------*/
/*---ABOUT_US--------*/
.about {
	.section;
	background: @colorLight;
}
.main__border {
	margin-top: 115px;
	margin-bottom: 115px;
	border-bottom: 2px solid @colorDark;
	border-right: 2px solid @colorDark;
	border-left: 2px solid @colorDark;
	padding: 77px 178px 30px;
	position: relative;
	&::before,
	{
		content: "";
		display: block;
		height: 2px;
		width: 240px;
		background: @colorDark;
		position: absolute;
		top: 0;
		left: 0;
		}
	&::after {
		content: "";
		display: block;
		height: 2px;
		width: 240px;
		background: @colorDark;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.h2 {
	font-family: @font;
	color:  @colorDark;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: .16em;
	display: inline-block;
	width: 420px;
	position: absolute;
	top: -17px;
	left: 240px;

}
.main-describe {
	width: 460px;
	margin: 0 auto;
}
.describe {
	font-family: @font;
	color: @colorDark;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

/*---END_ABOUT_US--------*/

/*---SERVISES--------*/
.servises {
	.section;
	background: url(../img/services.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 64px;
	padding-bottom: 60px;
}
.main__light {
	border-color: @colorLight;
	&::before,
	{
		background: @colorLight;
		}
	&::after {
		background: @colorLight;
		}
}
.describe__light {
	color: @colorLight
}
.h2__light {
	color: @colorLight
}
/*---END_SERVISES--------*/
