@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.svgSprite {
	width: 0;
	height: 0;
	visibility: hidden;
}
body {
	font: 300 16px/1.5 'Lato', Arial, sans-serif;
	color: #3C3C3C;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	letter-spacing: .16em;
	line-height: 1.3;
}
p {
	margin: 0 0 25px;
}
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 940px;
	margin: 0 auto;
}
.ba-container--hero {
	max-width: 640px;
}
.ba-header {
	background: #abb5ca url(../img/hero-bg.jpg) 50% no-repeat;
	color: white;
	background-size: cover;
	text-align: center;
	padding: 284px 0 384px;
	min-height: 100vh;
	font-size: 15px;
	letter-spacing: 0.06em;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 2;
	position: relative;
}
.ba-logo{
	display: inline-block;
	margin-bottom: 80px;
}
.ba-heder__title {
	text-transform: uppercase;
	font-size: 54px;
	margin: 0 0 35px;
}
.ba-scroll {
	display: block;
	width: 23px;
	height: 37px;
	position: absolute;
	bottom: 115px;
	left: 50%;
	margin-left: -12px;
	background: url(../img/scroll.svg) 50% no-repeat;
	background-size: cover;
}
.ba-scroll:hover{
	opacity: .6;
}

/* About */

.ba-about {
	padding: 160px 0;
}
.ba-box {
	border: 2px solid #3c3c3c;
	border-width: 0 2px 2px;
	padding: 70px 180px 26px;
	text-align: center;
	position: relative;
}
.ba-box::before,
.ba-box::after {
	display: block;
	content: "";
	position: absolute;
	height: 2px;
	background: #3c3c3c;
	width: 22%;
	top: 0;
}
.ba-box::before {
	left: 0;
}
.ba-box::after {
	right: 0;
}
.ba-box :last-child {
	margin-bottom: 0;
}
.ba-box--light {
	border-color: #fff;
}
.ba-box--light::before, .ba-box--light::after {
	background-color: #fff;
}
.ba-box__title {
	font-size: 34px;
	text-transform: uppercase;
	position: absolute;
	left: 30%;
	top: 0;
	margin: 0;
	text-align: center;
	width: 42%;
	transform: translateY(-50%);
}
 /*  services  */

 .ba-section {
 	padding: 130px 0 110px;
 }

 .ba-section--services {
	background: #abb5ca url(../img/services.jpg) 50% no-repeat;
 	background-size: cover;
 }
/*  what */

.ba-what {
	padding: 160px 0;
}
.design {
	width: 80px;
	height: 84px;
}
.developmen {
	width: 79px;
	height: 76px;
}
.product {
	width: 79px;
	height: 91px;
}
.product, .developmen, .design {
	margin-top: 90px;
}
.ba-box__name {
	margin: 30px 0;
}
.ba-what :last-child {
	margin-bottom: 62px;
}

/* card  */

.ba-works {
    display: flex;
    flex-wrap: wrap;
}
.card_image {
    height: 100%;
}
.ba-card {
    height: 235px;
    margin: 5px;
    position: relative;
}
.ba-card--edge {
    /*width: 550px; */
    width: calc(58% / 2 - 15px);
}
.ba-card--center {
    /* width: 800px; */
    width: 42%;
}
.ba-card_container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.card_title {
	position: absolute;
	text-transform: uppercase;
	font-size: 34px;
	color: white;
	left: 45px;
	bottom: 45px;
}

/*  contact */
.ba-contact {
	padding: 160px 0 65px;
}

.ba-container__button {
	width: 80%;
	padding: 20px 0;
	text-align: center;
	background: #3c3c3c;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	margin: 15px 0 0 0;
}
.ba-box_last {
	padding-bottom: 50px;
}
.ba-footer {
	padding-bottom: 65px;
	font: 400 14px/1 'Lato', Arial, sans-serif;
	vertical-align: middle;
	display: flex;
    justify-content: center;
    align-items: center;
}
.ba-footer__logo {
	margin-right: 35px;
}
