body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    font-size: 62, 5%;
    min-height: 100vh;
    padding: 3rem 6rem;
    border: 1rem solid black;
    box-sizing: border-box;
    color: #C1C1C1;
}

input {
    outline: none;
    border: none;
    font-size: 5rem;
    font-weight: bold;
    color: #c2c2c2;
    background: #f7f7f7;
    display: inline-block;
}

input[type=text] {
    max-width: 90%;
    color: blue;
}

input[type="button"] {
    height: 5rem;
    width: 5rem;
    background: url(../img/magnifier.svg) no-repeat;
    background-size: cover;
}

section {
    display: inline-block;
    width: 30%;
    margin: 0.5rem;
}

li {
    background: #EBEBED;
    line-height: 50px;
}

div {
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    vertical-align: middle;
}

.bg {}

.PatrickCox {
    background: url('../img/css_sprites.png') -10px -10px;
}

.PeterFinlan {
    background: url('../img/css_sprites.png') -80px -10px;
}

.RachelSmith {
    background: url('../img/css_sprites.png') -10px -80px;
}

.SaraSoueidan {
    background: url('../img/css_sprites.png') -80px -80px;
}

.ShaunDona {
    background: url('../img/css_sprites.png') -150px -10px;
}

.TimHolman {
    background: url('../img/css_sprites.png') -150px -80px;
}

li:after {
    background: white;
    height: 5px;
    content: '';
    display: block;
}

li:last-child:after {
    display: none;
}

li:hover {
    background-color: grey;
    color: red;
}

input[type=text]::-webkit-input-placeholder {
    color: #c2c2c2;
}

input[type=text]::-moz-placeholder {
    color: #c2c2c2;
}


/* Firefox 19+ */

input[type=text]:-moz-placeholder {
    color: #c2c2c2;
}


/* Firefox 18- */

input[type=text]:-ms-input-placeholder {
    color: #c2c2c2;
}