@font-face {
    font-family: 'Aleo';
    src: url('../fonts/aleo-regular-webfont.woff2') format('woff2'),
         url('../fonts/aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*---variables------*/
@font: 'Josefin Sans', sans-serif;
@fontA: 'Aleo';
@white: rgb(255, 255, 255);
/*---end_variables------*/

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    padding: 15px;
    background: @white;
    color: @white;
}
svg {
	width: 0;
	height: 0;
}
a:hover {
	text-decoration: none;
	color: blue;
	transition: color 0.5s ease;
}
.wrapper {
	width: 1120px;
	height: inherit;
	}

.h1 {
	font-family:@font;
	font-size: 48px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
}
.h2{
	font-family: @fontA;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
}
.h3 {
	font-family: @font;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	padding-bottom: 30px;
	text-transform: uppercase;
}
.describe {
	font-family: @font;
	color:  #e8e8e8;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.button {
	background-color:  #5474fd;
	width: 225px;
	height: inherit;
	font-family: @fontA;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: @white;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.main() {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
 	background-position: center center;
	background-size: cover;
}

/*---HEADER------*/
.header {
	background: url(../img/bg1.jpg);
    height: 820px;
    .main;
}
.wrapper__header {
	padding-top: 265px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.header_describe {
	font-family: @fontA;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	padding-bottom: 50px;
	letter-spacing: .2em;
}

/* -------form---------*/
.form {
	height: 65px;
	background: @white;
	box-sizing: border-box;
	display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 115px;
    }
.form_input {
	width: 500px;
	height: inherit;
	border: none;
	text-align: center;
	font-family: @font;
	color:  #999999;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	&:focus {
		color:  blue;
		transition: color 0.5s ease;
	}
}
.button__header {
	border-width: 2px;
	border-color: @white;
	border-style: solid;
	width: 146px;

}

.search_button {
	width: 20px;
	height: 22px;
	fill: @white;

}
::-webkit-input-placeholder {color:#999999;;}
::-moz-placeholder          {color:#999999;}
:-moz-placeholder           {color:#999999;}
:-ms-input-placeholder      {color:#999999;}

/* -------end_form---------*/
.header_scroll {
	font-family: @font;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	}
.arrow_down {
	width: 15px;
	height: 9px;
	fill: @white;
}
.header_footer {
	background-color: #5474fd;
	height: 80px;
	.main;
	}

.wrapper__head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header_link {
	font-family: @fontA;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	padding-right: 42px;
}
.header_link:last-child {
	padding-right: 0;
}
.button_name {
	padding-right: 14px;
}
/*------END_HEADER-----*/


/*---CHOOSE------*/
.choose {
	background: url(../img/bg2.jpg) no-repeat;
	height: 685px;
	.main;
}
.wrapper_choose {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: inherit;
}
.choose_item {
	width: 541px;
}
.choose_h2 {
	padding: 204px 0 62px 0;
}
.button_choose {
	width: 225px;
	height: 60px;
	border: none;
	color: @white;
}
.choose_item__img {
	padding-top: 120px;
}
.choose_pos {
	padding-left: 67px;
}
.choose_pos1 {
	padding-left: 190px;
}
.choose_describe {
padding-bottom: 48px;
}
/*---END_CHOOSE------*/

/*---SELECT------*/
.select {
	background:  #333333;
	.main;
	height: 337px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.wrapper_select {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px;
	position: relative;
	&::before,
	&::after {
		content: '';
		width: 330px;
		height: 250px;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;
		border: 2px dotted transparent;
		border-top-color: @white;
		position: absolute;
		left: 0;
		top: 0;
	}
	&::before {
		left: 218px;
		top: 50px;
	}
	&::after {
		left: 600px;
		top: 50px;
	}
}
.search {
    width: 58px;
    height: 57px;
    margin-bottom: 35px;
}
.circle {
    width: 63px;
    height: 63px;
    margin-bottom: 35px;
}

.hand {
    width: 62px;
    height: 62px;
    margin-bottom: 35px;
}

.select_search {
	width: 215px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*---END_SELECT------*/

/*---SECTION------*/
.section {
	background: url(../img/bg3.jpg) no-repeat;
	height: 700px;
	.main;

}
.section__1 {
	background: url(../img/bg4.jpg) no-repeat;
	.main;
}
.wrapper_section {
	padding-top: 230px;
}
.section1_text {
	width: 540px;
	height: 370px;
	background-color:  rgba(35, 35, 35, 0.9);
	padding: 30px;
}
.section_p {
	font-family: @font;
	color:  #e8e8e8;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	padding-bottom: 30px;
}

.describe__sec {
	padding-bottom: 48px;
}



.wrapper_section__1 {
	display: flex;
	display-direction: row;
	justify-content: flex-end;
}
/*---END_SELECT------*/

/*---WHAT------*/
.what {
	background: url(../img/bg5.jpg) no-repeat;
	height: 731px;
	.main;

}

.h2__what {
	padding: 100px 0;
	text-align: center;
}
.what_main {
	display: flex;
	display-direction: row;
	justify-content: space-between;
	background-color:  #333333;
	margin-bottom: 30px;
}
.what_main__right {
	justify-content: flex-end;
	background-color:  transparent;
}
.what_photo {
	width: 445px;
	height: 284px;
}
.what_describe {
	;
	width: 665px;
}
.what_item__right{
	padding: 30px 20px;
}

.what_arrow {
	border-width: 1px;
	border-color:  #ffffff;
	border-style: solid;
	width: 78px;
	height: 48px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.what_arrow:last-child {
	margin-right: 0;
	padding: 0;
}
.arrow_left {
	width: 11px;
	height: 18px;
}
.arrow_right {
	width: 11px;
	height: 18px;
}
.symbol {
	color: #5474fd;
}
/*---END_WHAT------*/

/*---FOOTER------*/
.footer {
	background-color:  #232323;
	height: 268px;
	.main;
}
.wrapper_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo__footer {
	padding-bottom: 15px;
}
.describe__footer {
	padding-bottom: 30px;
}
.social_item {
	display: inline-block;
	padding-right: 20px;
	color: rgb(232, 232, 232);
	&:hover {
		color: blue;
		transition: color 0.5s ease;
	}
}
.social_item:last-child {
	padding-right: 0;
}
/*---END_FOOTER------*/



