/*@variablse------------------------------------*/
@font: 'Raleway', sans-serif;
@colorDark: rgb(38, 38, 38);
@colorLight: rgb(255, 255, 255);
@colorMiddle: #b9b9b9;
@colorAccent: #ff2b58;
@colorLogo: #262626;

@shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);

/*--@variablse------------------------------------*/
/*--MIXINS----------------------------------------*/
 .fonts(@font: @font, @size:17px, @lineH:27px, @weight:300, @color:@colorDark) {
    font-family: @font;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineH;
    color: @color;
 }

 .myHover() {
   &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
   }
 }
 /*--END_MIXINS----------------------------------------*/

/*-GENERAL------------------------------------*/
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    width: 1200px;
}
.content {
    text-align: left
}
svg {
    width: 0;
    height: 0;
}
a {
   text-decoration: none;
}

.fonts(@font, @color:@colorDark, @size:15px, @weight:300, @lineH:25px) {
    font-family: @font;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineH;
    color: @color;
 }

.h1 {
    .fonts (@font, @color:@colorDark, @size:60px, @weight:800, @lineH:25px);

}
.describe {
    .fonts (@font, @color:@colorDark, @size:17px, @weight:300, @lineH:27px);
}
.button {
    background-color:  #ff6033;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 55px;
    text-align: center;
    border: none;
    .fonts (@font, @color:@colorLight, @size:20px, @weight:300, @lineH:27px);
 }

/*-END_GENERAL------------------------------------*/

/*-HEADER------------------------------------*/

.header {
    width: 100vw;
    height: 1000px;
    min-width: 980px;
    background: url(../img/header-bg.png) #f9f8fb;
    background-size: cover;
}
.header_conteiner {
    width: 1170px;
    margin: auto;
    padding-top: 55px;
}
.header_fixed {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.nav {
    text-align: right;
    justify-content: flex-end;
    width: 70%;
    display: flex;
}
.nav_link {
    color: @colorDark;
    text-transform: uppercase;
    font: 700 16px/1px @font;
    margin-left: 40px;
    text-decoration: none;
    &::before {
        content: "";
        display: block;
        width: 0%;
        margin-bottom: 10px;
        height: 4px;
        background-color: #ff6033;
    }
    &:hover::before {
        width: 100%;
    }
}

.header_info {
    width: 370px;
    height: 165px;
    margin-top: 260px;
}
.header_title {
    font: 700 60px/60px @font;
    padding-bottom: 30px;
}
.header_btn {
    width: 200px;
    height: 55px;
    margin-top: 35px;
}
.button {
    .button;
    .myHover();
    background-color: #ff6033;
}
.header_scroll {
    width: 30px;
    height: 40px;
    margin: 280px auto 65px;
}
/*-END_HEADER------------------------------------*/

/*-ABOUT_US------------------------------------*/
.about {
    height: 700px;
    min-width: 980px;
    color: @colorLight;
    background: #00b2b2;
    display: flex;
    flex-direction: row;
}
.about_info {
    margin: 150px 80px;
}
.h1__light {
    font-size: 90px;
    padding-bottom: 70px;
    color: @colorLight;
}
.about_text {
    width: 500px;
    font: 300 17px/24px @font;
}
.about_text+.about_text {
    margin-top: 25px;
}

/*-- OUR_SERVICES --*/
.services {
    height: 790px;
    min-width: 1200px;
    background-color: #70bfff;
    display: flex;
    justify-content: center;
    &_item {
        width: 50%;
        padding-top: 22px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 200px;
    }
    &_button {
        margin: 10px 0;
        display: flex;
        align-items: center;
        background-color: @colorLight;
        width: 400px;
        height: 100px;
        .fonts(@font, @colorDark, 20px, 700, 27px);
        text-align: center;
        box-shadow: @shadow;
        .myHover();
    }
}
.button_name {
    flex-grow: 1;
}

.serviсes_svg {
    width: 100px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #9d9d9d;
    flex-shrink: 0;
}
.bucket {
    width: 47px;
    height: 44px;
}

.carrot {
    width: 55px;
    height: 55px;
}

.hand {
    width: 55px;
    height: 49px;
}

.world {
    width: 54px;
    height: 54px;
}

.services_title {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 60px;
    &--h1 {
        color: white;
        position: absolute;
        left: -83px;
        top: 290px;
        font-size: 90px;
        font-weight: 800;
    }
}

/*-END_SERVICES---------------------------------------*/

/*-GALLERY--------------------------------------------*/

.button__blue {
  box-shadow: @shadow;
  width: 200px;
  height: 55px;
  font-family: @font;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 50px auto;
  background-color: #5585a2;
  color: @colorLight;
}

.gallery {
  width: 100vw;
  min-width: 980px;
  background-color: #ffe92f;
  font-family: @font;
  color: @colorDark;
  padding-bottom: 70px;

  .h1 {
    padding-top: 100px;

    padding-bottom: 70px;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
  }

  .describe {
    .fonts(@font, @color: @colorDark, @size: 15px, @weight: 300, @lineH: 25px);
    text-align: center;
    margin-bottom: 41px;
  }

  .gallery_img {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1170px;
    height: 980px;


    .gallery_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .gallery_container__main {
      height: 550px;

      .gallery_item__big {
        height: 550px;
        width: 770px;
      }
    }

    .gallery_container__small {
      margin-left:30px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .gallery_item__small {
        height: 260px;
        width: 370px;
      }
    }


    .gallery_item {
      box-shadow: @shadow;
      .myHover
    }



    .gallery_item__medium {
      height: 400px;
      width: 570px;
    }

  }

}
/*-END_GALLERY---------------------------------------*/

/*-SUBSCRIBE_TO_US------------------------------------*/
.subscribe {
    width: 100%;
    min-width: 980px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: url(../img/bg-subscribe.png) center no-repeat;
}
.subscribe_title {
    font: 700 40px/40px @font;
    color: @colorDark;
    margin-bottom: 30px;
}
.content_subscribe {
    text-align: left;
    margin-left: 165px;
    width: 560px;
}
.subscribe_form {
    width: 770px;
    height: 55px;
    display: flex;
    margin: 30px 0 0 165px;
}
.subscribe_email {
    width: 570px;
    height: 55px;
    border: 1px solid #262626;
    padding-left: 15px;
    color: #a1a1a1;
    &:placeholder {
    color: #a1a1a1;
    padding-left: 15px;
    }
}
.button_subscribe {
    margin-left: 30px;
}
.button__green {
    .button;
    background-color: #96b92c;
}
/*-BLOG------------------------------------*/
.blog {
    width: 100vw;
    min-width: 980px;
    height: 860px;
    background: #b07cf7;
    color: @colorLight;
}
.content_blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.h1__blog {
    .h1;
    color: @colorLight;
    font-size: 90px;
    padding-bottom: 70px;
}
.describe__blog {
    color: @colorLight;
}

.blog_events {
    width: 1170px;
    height: 315px;
    display: flex;
    margin: 50px auto;
}
.event {
    width: 370px;
    height: inherit;
    box-shadow: @shadow;
    position: relative;
    &:hover .hover {
        opacity: 1;
        visibility: visible;
        transition:  2s;
    }
    &:not(:hover) .hover {
        transition:  2s;
    }
}
.hover {
    width: inherit;
    height: inherit;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.event__1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url(../img/img1.png);
}
.event__2 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 5%, transparent 100%), url(../img/img2.png);
    background-position: bottom;
    margin-left: 30px;
}
.event__3 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 5%, transparent 100%), url(../img/img3.png);
    margin-left: 30px;
}

.event_date {
    background: #4b5059;
    width: 55px;
    height: 60px;
    border-radius: 3px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900px;
    position: absolute;
    text-align: center;
    left: 30px;
    top: 30px;
    opacity: 0.8;
}
.event_title {
    width: 310px;
    position: absolute;
    left: 20px;
    bottom: 70px;
    color: @colorLight;
    font: 700 20px/25px @font;
}

.event_autor {
    position: absolute;
    left: 20px;
    bottom: 20px;
    opacity: 0.8;
}
.blog_btn {
    width: 200px;
    margin: auto;
}
.button__crimson {
    .button;
    background-color: #f72b3b;
}

/*-END_ABOUT_US------------------------------------*/


/*-CONTACT-----------------------------------------*/

.contact {
    background: url(../img/contact_bg.jpg) no-repeat;
    background-size: cover;
    min-width: 980px;
    width: 100vw;
    height: 865px;
    padding: 100px 165px 0;
}
.content__contact {
    max-width: 370px;
    text-align: center;
    margin: 0 auto 40px;
}
.h1_contact {
    font-size: 90px;
    padding-top: 25px;
    padding-bottom: 70px;
}
.h2 {
    .fonts(@size:17px, @weight:700);
    text-align: left;
    margin: 0;
    padding: 0;
}

.h1_contact {
    font-size: 90px;
}
.adress {
    .fonts(@size:19px, @weight:300);
    text-align: left;
    margin: 0 0 15px 0;
    padding: 0;

}
.contact_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}
.contact_item {
    width: 500px;
}
.contact_item__adress {
    width: 317px;
    margin-right: 200px;
}
.form_item {
    height: 50px;
    margin-bottom: 14px;
    position: relative;
}
.form_item:hover + .form_hover {
    display: block;
}

.form_input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 14px;
    background-color:  rgba(0, 196, 196, 0.5);
    border: none;
    .fonts(@size:15px, @weight:700, @lineH:25px, @color:@colorLight);
    &:focus {
        background-color:  #00c4c4;
        border: none;
        outline: 0;
        box-shadow: inset 4px 0px 0px 0px #385b81;
    }
}

.form_input__message {
    height: 250px;
    padding: 0 0 210px 20px;
}

::-webkit-input-placeholder { /* WebKit browsers */
   .fonts(@size:15px, @weight:300, @lineH:25px, @color:@colorLight);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 .fonts(@size:15px, @weight:300, @lineH:25px, @color:@colorLight);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  .fonts(@size:15px, @weight:300, @lineH:25px, @color:@colorLight);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  .fonts(@size:15px, @weight:300, @lineH:25px, @color:@colorLight);
}

/*-END_CONTACT-----------------------------------------*/
/*-FOOTER-----------------------------------------*/
.footer {
    background: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 980px;
    width: 100vw;
    min-height: 90px;
    padding: 0 165px;
    overflow: hidden;
}
.logo {
    width: 65px;
    height: 27px;
    fill: @colorMiddle;
}
.accent{
    color: @colorAccent;

}
.p_footer {
    .fonts(@size:15px, @lineH:25px, @weight:300, @color:@colorMiddle);
}

/*-END_FOOTER-----------------------------------------*/

