* {
    transition: all .1s ease-in;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/trebuchet-ms.woff2') format('woff2'), url('../fonts/trebuchet-ms.ttf') format('truetype'), url('../fonts/trebuchet-ms.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

html,
body,
{
    height: 100vh;
}

.wrapper {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #3B3F45;
    border: 1rem solid white;
}

header {
    padding: 1.5rem 0;
    background-color: #4A4F56;
    color: #EB7E7A;
    text-align: center;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.colorForm {
    background-color: #88839E;
    min-height: 100%;
    margin: 2rem 0;
}

.item {
    padding: 0 1rem;
}

label {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5;
    padding-left: 0.5rem;
    text-decoration: none;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
}

h1 {
    font: 700 3rem/1 Arial;
}

h2 {
    font: 400 1.5rem/1 Arial;
}

input[type=submit] {
    font-family: "Trebuchet MS";
    min-width: 100%;
    background-color: #4A4F56;
    border: none;
    color: #E87E7F;
    font-size: 1.5rem;
    line-height: 2.5;
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2.5;
}

span {
    font-size: 1rem;
    color: rgb(185, 184, 187);
}

span::before {
    content: "("
}

span::after {
    content: ")"
}

.item:nth-child(even) {
    background-color: #7A7593;
}

.item:hover {
    background-color: #625E77;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.item:active {
    background-color: rgb(189, 137, 153);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}