* {
    transition: all .1s ease-in;
}

@font-face {
    font-family: "Lucida Sans Unicode";
    src: url('../fonts/6623.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lucida Grande";
    src: url('../fonts/8291.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
{
    height: 100vh;
    font-size: 100%;
    margin: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
    font-family: "Lucida Grande";
    color: white;
}

main {
    min-height: 100vh;
    box-sizing: border-box;
    border: 1rem solid #2B81AC;
    background-color: #3399CC;
}

.tabl {
    width: 50%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 0;
    padding: 0;
    border: 0.1rem solid white;
}

li {
    display: inline-block;
    border: 0.1rem solid white;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

.fifty {
    min-width: 50%;
}

.quater {
    min-width: 25%;
}

.hundred {
    min-width: 100%;
}

span {
    vertical-align: super;
}

.wi {
    font-size: 2rem;
    vertical-align: middle;
}

.wi-sunset {
    vertical-align: baseline;
}

.transparent {
    opacity: 0.5;
}

.blue {
    background-color: #3399CC;
}

.lightblue {
    background-color: #33CCCC;
}

.purple {
    background-color: #996699;
}

.red {
    background-color: #C24747;
}

.orange {
    background-color: #E2674A;
}

.yellow {
    background-color: #FFCC66;
}

.lightgreen {
    background-color: #99CC99;
}

.grey {
    background-color: #669999;
}

.pink {
    background-color: #CC6699;
}

.green {
    background-color: #339966;
}

.darkblue {
    background-color: #666699;
    /*visibility: hidden;*/
    display: none;
}

footer {
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 1rem;
}

ul:hover li {
    opacity: 0.3;
}

ul li:hover {
    opacity: 1;
}

ul .green:hover+.darkblue {
    /*visibility: visible;*/
    display: block;
}