.body {
    color: rgb(121, 123, 127);
    font-family: 'Arial', sans-serif;
    padding-top: 100px;
}

.main {
    background: linear-gradient(60deg, #ff512f, #dd2476);
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 460px;
    height: 470px;
    padding: 30px;
}

.card_header {
    padding-bottom: 35px;
}

.card_title {
    padding-bottom: 25px;
}

.card_text {
    color: #1b1c1d;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 10px;
}

.card_img {
    width: 24px;
    height: 24px;
}

.card_subtitle {
    color: #797b7f;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.card_login {
    color: #ea355a;
}


/*-------card_form---------*/

.card_input {
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.card_input[type=placeholder] {
    color: #797b7f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.card_input-name {
    width: 48%;
}

.card_input-lastname {
    float: right;
}

.card_button {
    background-color: #ea355a;
    box-shadow: 0px 3px 0px 0px #bd1962;
    width: 100%;
    height: 50px;
    border: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
}


/*-------card_footer---------*/

.card_cancel {
    color: #797b7f;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.card_link {
    color: #e52e66;
}