//PORTFOLIO
.portfolio
    font-family main-font-family
    font-size 14px
    background-color #f1f1f1
    padding 70px 125px
    &_container
        limiter()
    &_header
        max-width 485px
        margin 0 auto
        text-align center
    &_title
        font 20px title-font-family
        text-transform uppercase
        letter-spacing 200
        padding-bottom 25px
    &_text
        font-size 14px
        line-height 25px
        letter-spacing 50
        padding-bottom 80px
    &_filter
        color  #464646
        line-height 12px
        display inline-block
        font-weight 600
        padding 0 13px
        position relative
        cursor pointer
    &_works
        width 100%
        max-width 1120px
        padding-top 60px
        display flex
        flex-wrap wrap
    &_item
        padding 5px
.active-filter
    &:after
        content ''
        height 2px
        width 38px
        background-color #19bd9a
        position absolute
        left 50%
        margin-left -19px
        margin-top 25px


