/*--------------------GENERAL--------------------*/

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.body {
    background: linear-gradient(to right, rgba(102, 51, 153, 1) 0%, rgba(153, 104, 153, 1) 100%);
    min-height: 100vh;
}


/*--------------------CARD--------------------*/

.card_body {
    width: 777px;
    height: 409px;
    background: rgba(255, 255, 255, .6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card_body__size-l {
    width: 805px;
    height: 390px;
}

.card_body__bg {
    background: no-repeat url(../img/bg_t.png);
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
}


/*---------------------MENU------------------*/

.menu {
    padding: 25px 60px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 100;
}

.menu_item {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    margin-right: 40px;
}

.menu_item__indent-xl {
    margin-right: 160px;
}

.menu_item__indent-l {
    margin-right: 110px;
}

.menu_item__active:visited {
    text-decoration: underline;
}

.menu_item__active:hover {
    text-decoration: underline;
}


/*---------------------PRODUCT LEFT-------------------*/

.product {
    background-color: #f4f4f4;
    width: 750px;
    height: 428px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0;
}

.product_item {
    display: inline-block;
    vertical-align: top;
}

.product_item__size-xl {
    background-color: #ece9ea;
    width: 500px;
    height: 428px;
    position: relative;
    overflow: hidden;
}

.product_item__size-s {
    width: 250px;
    height: 428px;
}

.product_bg {
    position: absolute;
    top: 63px;
    left: 39px;
}

.product_bg__second {
    top: 86px;
    left: 44px;
}

.product_bgimage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 40px auto 0;
}

.product_plus {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0 25px 72px 0;
}

.product_preview {
    position: absolute;
    bottom: 0;
    margin: 0 0 20px;
    display: block;
    width: 100%;
    text-align: center;
}

.product_imgpre {
    margin-left: 15px;
}

.product_imgpre:first-child {
    margin-left: 0px;
}


/*---------------------PRODUCT RIGHT-------------------*/

.product_item__size-s {
    width: 250px;
    height: 428px;
}

.product_describe {
    padding-left: 28px;
    text-align: left;
}

.btnclose {
    text-align: right;
    padding: 9px 9px 19px;
}

.section {
    display: inline-block;
}

.section-name {
    font-family: Roboto;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffa60d;
    padding: 2px;
    margin: 0 0 12px;
}

.product_title {
    margin: 0 30px 0 0;
    font-family: Roboto;
    color: #000000;
    font-size: 23px;
}

.product_title__color {
    color: #5e4fff;
}

.stars {
    margin-top: 18px;
    font-size: 0;
}

.star_item {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 15px;
}

.stars_title {
    font-family: 'Roboto'S;
    color: #000000;
    font-size: 12px;
    margin: 0 0;
}

.poduct_cost {
    margin: 18px 0 28px 0;
    font-family: "Roboto";
    color: #000000;
    font-size: 22px;
    font-weight: 300;
}

.product_size {
    font-family: Roboto;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.product_number {
    font-family: Roboto;
    color: #000000;
    font-size: 0px;
    margin-bottom: 40px;
}

.product_n {
    display: inline-block;
    margin-left: 30px;
    font-size: 15px;
}

.product_n:first-child {
    margin-left: 0;
}

.product_n__border {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 2px;
}

.button {
    background-color: #a200b8;
    width: 118px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 2px;
}

.button_text {
    font-family: Roboto;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase
}

.button__color {
    background-color: white;
}

.button__border {
    border: 1px solid black;
}

.button_text__color {
    color: black;
}