body {
    background: black;
    color: white;
    padding: 50px;
    font-size: 16px;
    columns: 2;
}

h1 {
    text-decoration: underline;
}

img {
    border: 5px solid white;
}

.strong {
    font-weight: bold;
}

.opacity {
    visibility: hidden;
}

.opacity {
    animation-name: myopacity;
    -webkit-animation-name: myopacity;
    animation-duration: 1.7s;
    -webkit-animation-duration: 1.7s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    visibility: visible !important;
}

@keyframes myopacity {
    0% {
        opacity: 0
    }
    10% {
        opacity: .1
    }
    20% {
        opacity: .2
    }
    30% {
        opacity: .3
    }
    40% {
        opacity: .4
    }
    50% {
        opacity: .5
    }
    60% {
        opacity: .6
    }
    70% {
        opacity: .7
    }
    80% {
        opacity: .8
    }
    90% {
        opacity: .9
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes myopacity {
    0% {
        opacity: 0
    }
    10% {
        opacity: .1
    }
    20% {
        opacity: .2
    }
    30% {
        opacity: .3
    }
    40% {
        opacity: .4
    }
    50% {
        opacity: .5
    }
    60% {
        opacity: .6
    }
    70% {
        opacity: .7
    }
    80% {
        opacity: .8
    }
    90% {
        opacity: .9
    }
    100% {
        opacity: 1
    }
}