.clearfix {
    /* content: ""; */
    /* clear: both; */
    /* display: table; */
}


/*------------------HEADER----------------------*/

.header {
    background: no-repeat url(../img/header_bg.jpg);
    background-position: center;
    width: 100vw;
    height: 650px;
    padding: 5% 15%;
    box-sizing: border-box;
    position: relative;
}

.menu {
    font-size: 0;
    text-align: left;
}

.menu__item {
    width: 10%;
    display: inline-block;
    font-family: Lato;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 30px;
}

.menu__item:first-child {
    width: 48%;
    margin-right: 0;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item--after::after {
    content: "/";
    color: #ffffff;
    margin-left: 30px;
    opacity: .5;
}

.header__text {
    text-align: center;
    text-transform: uppercase;
    margin-top: 7%;
}

.header__title {
    font-family: BigJohn;
    color: #ffffff;
    font-size: 46px;
    font-weight: 400;
    margin-top: 0;
}

.header__description {
    font-family: SlimJoe;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.l-button {
    text-align: center;
}

.button {
    border-radius: 3px;
    border-width: 2px;
    border-color: #48bf72;
    border-style: solid;
    background: transparent;
    width: 134px;
    height: 35px;
    font-family: Lato;
    color: #48bf72;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
}

.header__center {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*----------------PORTFOLIO---------------*/

.crumb {
    font-size: 0;
    text-align: center;
    margin-top: 5%;
}

.crumb__item {
    border-radius: 2px;
    background-color: #eaeaea;
    display: inline-block;
    margin: 0 1%;
    padding: 3px;
    font-family: Lato;
    color: #3c4955;
    font-size: 16px;
    font-weight: 700;
    vertical-align: baseline;
    text-decoration: none;
}

.crumb__item:hover {
    background-color: green;
    color: white;
}

.portfolio {
    padding: 0 20%;
}

.portfolio__item {
    font-size: 0;
    text-align: center;
    margin-top: 5%;
    box-sizing: border-box;
}

.portfolio__column {
    display: inline-block;
    box-sizing: border-box;
    width: 42%;
    vertical-align: top;
    padding-right: 5%;
}

.portfolio__link {
    display: block;
    padding-bottom: 5%;
}

.portfolio_img {
    width: 100%;
}

.portfolio__column--size {
    width: 58%;
}

.portfolio_group {
    position: relative;
}

.portfolio__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #48bf72;
    border-radius: 5px;
    opacity: .9;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
    visibility: hidden;
}

.portfolio__hover::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.portfolio__hover--center {
    display: inline-block;
    vertical-align: middle;
}

.portfolio_title {
    font-size: 30px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.portfolio_subtitle {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1;
}

.portfolio__link:hover+.portfolio__hover {
    visibility: visible;
}


/*--------------AUTOR------------*/

.autor {
    font-size: 0;
    background: no-repeat url(../img/autor1.png);
    height: 500px;
    background-position: bottom;
    box-sizing: border-box;
}

.autor__column {
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 14px;
    vertical-align: top;
}

.autor__column--s {
    position: relative;
    width: 30%
}

.autor__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.autor__name {
    font-family: Lato;
    color: #ffffff;
    font-size: 30px;
}


/*---------------CONTACTER--------------*/

.contacter {
    position: relative;
    height: 500px;
}

.contacter__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacter__legend {
    font-size: 26px;
    font-family: "BigJohn";
    color: rgb(72, 191, 114);
    line-height: 0.962;
    text-align: center;
    margin-bottom: 8%;
}

.form {
    font-size: 0;
    box-sizing: border-box;
    width: 50vw;
}

.form__input {
    display: inline-block;
    width: 49%;
    height: 50px;
    font-size: 14px;
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 2%;
    border-width: 2px;
    border-color: rgb(60, 73, 85);
    border-style: solid;
    border-radius: 3px;
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    color: green;
    padding-left: 70px;
    font-size: 16px;
    font-family: "Lato";
    color: rgb(166, 165, 165);
    font-weight: bold;
    line-height: 1.563;
    outline: none;
}

.form__input--name {
    background: no-repeat rgb(241, 241, 241) url(../img/icon-user.png);
}

.form__input--email {
    background: no-repeat rgb(241, 241, 241) url(../img/icon-email.png);
}

.form__input:last-of-type {
    margin-right: 0;
}

.form__input--textarea {
    display: block;
    width: 100%;
    height: 200px;
    background: no-repeat rgb(241, 241, 241) url(../img/icon-message.png);
    resize: none;
}

.form__button {
    border-radius: 3px;
    background-color: rgb(72, 191, 114);
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.786;
}


/*-------------FOOTER----------*/

.footer {
    position: relative;
    height: 200px;
    background-color: #3c4955;
}

.footer__center {
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    box-sizing: border-box
}

.footer__link-group1 {
    float: left;
}

.footer__link-group {
    float: right;
}

.footer__link {
    display: inline-block;
    width: 50px;
    box-sizing: border-box;
    margin-right: 40px;
    vertical-align: middle;
    background-position: center;
    height: 70px;
}

.footer__link--copywright {
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 70px;
    margin-right: 0;
}

.footer__link:last-of-type {
    margin-right: 0;
}

.footer__link--adress {
    font-weight: bold;
}

.footer__link--tweeter {
    background: no-repeat url(../img/twitter.png);
}

.footer__link--linkin {
    background: no-repeat url(../img/linkedin.png);
}

.footer__link--dribble {
    background: no-repeat url(../img/dribbble.png);
}

.footer__link--behance {
    background: no-repeat url(../img/behance.png);
}