.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.c-section {
    display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    color: black;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
}


/*---------------SECTION1-----------------*/

.c-section--1 {
    background: no-repeat url(../img/section1_bg.jpg);
    background-size: cover;
    color: white;
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    color: white;
    letter-spacing: 0.025em;
}

.l-nav {
    display: block;
    padding: 50px 100px 0 100px;
}

.c-logo {
    display: inline-block;
    margin-right: 350px;
}

.c-nav {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.nav__item {
    display: inline-block;
    font-size: 14px;
    margin-right: 30px;
}

.nav__link {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 0.025em;
}

.c-text {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    letter-spacing: 0.05em;
    line-height: 30px;
    width: 600px;
    margin: 120px auto 80px;
}

.c-text__title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0;
    font-size: 48px;
    text-transform: uppercase;
}

.c-line {
    width: 88px;
    height: 3px;
    margin: 25px auto;
}

.c-line--color {
    background: white;
}

.c-section1__link {
    width: 90px;
    height: 90px;
}


/*------------------SECTION2-----------------------*/

.c-section--2 {
    background: white;
}

.c-section__title {
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    padding-top: 80px;
    text-transform: uppercase;
}

.c-line--color2 {
    background: #030303;
}

.c-figure {
    display: inline-block;
    width: 25%;
    /* height: 380px; */
    margin: 35px;
}

.c-figure__title {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.c-figure__description {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: 20px;
}


/*------------------SECTION3-----------------------*/

.c-section--3 {
    background: no-repeat #222222 url(../img/section3_bg.jpg);
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
    box-sizing: border-box;
    font-size: 0;
    position: relative;
}

.c-section__item3 {
    display: inline-block;
    width: 60%;
    height: 100%;
    vertical-align: top;
}

.c-section__item3--small {
    width: 40%;
    position: relative;
}

.c-section__item3--padding {
    padding: 10% 5% 0;
    box-sizing: border-box;
}

.c-section__name {
    font-size: 45px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: left;
}

.c-section__phone {
    position: absolute;
    bottom: 0;
    left: 0;
}

.c-section__hidden {
    font-family: Lato;
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    text-align: left;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-section__more {
    position: absolute;
    left: 5%;
    top: 50%;
    font-family: Lato;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    display: block;
}

.c-section__more:before {
    content: "<-hide";
    font-family: Lato;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    display: block;
    visibility: hidden;
}

.c-section__check+.c-section__more:hover {
    color: #5d9df7;
}

.c-section__check:checked+.c-section__more {
    visibility: hidden;
    top: 90%;
}

.c-section__check:checked+.c-section__more:before:hover {
    color: blue;
}

.c-section__check:checked~.c-section__more:before {
    visibility: visible;
    color: blue;
    text-decoration: underline;
}


/* .c-section__check:checked+.c-section__more:before:hover {
    color: blue;
} */

.c-section__check:checked~.c-section__hidden {
    height: 450px;
    transition: all 1s ease;
}


/*------------------SECTION4-----------------------*/

.c-section__work {
    font-size: 0;
    padding: 91px 215px 71px 215px;
    text-align: center;
}

.c-section__img {
    display: inline-block;
    margin-right: 30px;
    width: 20%;
    height: auto;
    box-sizing: border-box;
    position: relative;
}

.c-section__image {
    width: 100%;
}

.c-section__img:last-child {
    margin-right: 0;
}

.c-section__img--border {
    border: 1px solid black;
}

.c-section__img--hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    padding: 40% 0;
    box-sizing: border-box;
    display: none;
}

.s-section_phover {
    font-family: Lato;
    color: #ffffff;
    font-size: 22px;
    line-height: auto;
    line-height: 1px;
}

.c-section__link-image:hover+.c-section__img--hover {
    display: block;
    transition: all 1s ease;
}

.button {
    margin: 0 auto;
    border-width: 3px;
    border-color: #222222;
    border-style: solid;
    max-width: 364px;
    max-height: 54px;
}

.button__value {
    font-family: Lato;
    color: #222222;
    font-size: 24px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}


/*------------------SECTION5-----------------------*/

.c-section--5 {
    background: no-repeat url(../img/section4_bg.jpg);
}

.c-section__title--color1 {
    color: white;
}

.l-icon {
    padding-top: 70px;
}

.icon {
    font-size: 0;
    text-align: center;
}

.icon__item {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 30px;
}

.icon__item:last-child {
    margin: 0;
}

.icon__facebook {
    width: 14px;
    height: 25px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.icon__linkedin {
    width: 24px;
    height: 25px;
    background: url('../img/css_sprites.png') -44px -10px;
}

.icon__logobe {
    width: 25px;
    height: 17px;
    background: url('../img/css_sprites.png') -88px -10px;
}

.icon__logov {
    width: 25px;
    height: 22px;
    background: url('../img/css_sprites.png') -133px -10px;
}

.icon__twitter {
    width: 25px;
    height: 20px;
    background: url('../img/css_sprites.png') -178px -10px;
}

.icon__link {
    display: block;
}

.icon__item:hover {
    box-shadow: 0 0 30px #5d9df7;
}

.l-form {
    width: 50%;
    margin: 0 auto;
    padding: 80px;
}

.form {
    font-size: 0;
}

.form__item {
    width: 45%;
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
}

.form__item:first-child {
    margin-right: 10%;
}

.form__item--message {
    width: 100%;
    margin-top: 80px;
}

.input {
    width: 100%;
    background-color: transparent;
    line-height: 80px;
    opacity: .5;
    border: none;
    border-bottom: 2px solid white;
    font-family: Lato;
    color: #676767;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}

.l-button {
    margin-top: 80px;
}

.button--color {
    border-color: white;
}

.botton--size-s {
    width: 177px;
    height: 54px;
}

.button__value--color {
    color: #ffffff;
}