//HEADER
.header
    color text-color
    padding 39px 0 77px
    background url("../img/general/bg-head.jpg") 50% 50% no-repeat #000
    background-size cover
    font-family main-font-family
    font-size 16px
    &_container
        limiter()
    &_banner
        padding-top 132px
        padding-bottom 70px
        max-width 630px
        text-align center
        margin 0 auto
    &_title
        font-family title-font-family
        font-size 35px
        line-height 70px
        letter-spacing 200
        font-weight 400
        text-transform uppercase
    &_text
        line-height 28px
        letter-spacing 50
        padding-bottom 220px
    &_arrow
        display block
        width 36px
        height 36px
        background url(../img/general/head-btn.png) no-repeat 50%
        margin 0 auto
.nav
    display flex
    justify-content space-between
    align-items center
    .icon-logo
        fill white
        size 114px 25px
    &_item
        color text-color
        padding  8px 25px
        margin-left 25px
        &:hover
            border 1px solid text-color
            border-radius: 20px
