*,
::before,
::after {
	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}
.ba-container {
	width: 1200px;
	height: 850px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin: auto 0 0 -600px;
	display: inline-grid;
	grid-gap: 10px;
	justify-items: stretch;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 150px 150px 150px 195px 135px;
}
.column_1_1 {
	background: url(http://via.placeholder.com/600x150/AFDFBF/606666);
	grid-column: 1 / span 6;
}
.column_1_2 {
	background-image: url(http://via.placeholder.com/600x150/68C5B8/5E6364);
	grid-column: 7/ span 6;
}
.column_2_1 {
	background-image: url(http://via.placeholder.com/600x320/FA688A/ffffff);
	grid-area: 2 / 1 / 4 / 7;
}
.column_2_2 {
	background-image: url(http://via.placeholder.com/200x165/8A95EF/ffffff);
	grid-column: span 2;

}
.column_3_2 {
	background-image: url(http://via.placeholder.com/300x150/FFC569/606666);
	grid-column: span 3;
}
.column_4_1 {
	background-image: url(http://via.placeholder.com/400x185/588CC7/ffffff);
	grid-column: span 4;
}
.column_4_3 {
	background-image: url(http://via.placeholder.com/200x195/588CC7/ffffff);
	grid-column: span 2;
}
.column_5_1 {
	background-image: url(http://via.placeholder.com/200x145/6652AD/ffffff);
	grid-column: span 2;
}
.column_5_2 {
	background-image: url(http://via.placeholder.com/600x135/6652AD/ffffff);
	grid-column: span 6;
}
.column_5_3 {
	background-image: url(http://via.placeholder.com/400x135/6652AD/ffffff);
	grid-column: span 4;
}


