    @font-face {
        font-family: "MuseoSansLight";
        src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
        src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
    }
    
    .l-body {
        background: no-repeat url(../img/main_bg.jpg);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        font-family: "MuseoSansLight", sans-serif;
        color: #e1e1e1;
        text-align: center;
    }
    
    .l-body::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    
    .product {
        border-radius: 10px;
        background-color: #111a28;
        box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
        width: 686px;
        height: 391px;
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        box-sizing: border-box;
    }
    
    .logo {
        position: absolute;
        text-align: left;
        padding: 24px 0 0 21px;
        height: 15%;
    }
    
    .product_item {
        display: inline-block;
        width: 400px;
        height: 391px;
        font-size: 14px;
        vertical-align: top;
        box-sizing: border-box;
    }
    
    .product_item__size-s {
        width: 286px;
        padding-right: 56px;
    }
    
    .product_item__in {
        vertical-align: middle;
    }
    
    .product_item__in::before {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    
    .product_img {
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 20px;
    }
    
    .circle {
        font-size: 0;
        text-align: center;
        margin-top: -33px;
    }
    
    .circle_item {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        display: inline-block;
        font-size: 14px;
        background-color: #fff;
        margin-right: 8px;
        vertical-align: middle;
    }
    
    .circle_item__big {
        border-width: 2px;
        border-color: #ffffff;
        border-style: solid;
        background-color: #1f273f;
        opacity: 0.46;
        width: 12px;
        height: 12px;
    }
    
    .circle_item__color1 {
        background-color: red;
    }
    
    .circle_item__color2 {
        background-color: #29e3ea;
    }
    
    .product_title {
        font-family: 'MuseoSansLight';
        color: #e1e1e1;
        font-size: 24px;
        line-height: 26px;
        text-align: left;
        padding-top: 78px;
    }
    
    .product_decription {
        font-family: "MuseoSansLight";
        color: #e1e1e1;
        font-size: 14px;
        line-height: 26px;
        text-align: left;
        opacity: 0.26;
    }
    
    .stars {
        font-size: 0;
        text-align: left;
        margin-bottom: 27px;
    }
    
    .stars_item {
        display: inline-block;
        font-size: 14px;
        margin-right: 2px;
        opacity: 0.26;
    }
    
    .product_select {
        text-align: left;
    }
    
    .button {
        border-width: 1px;
        border-color: #ffffff;
        border-style: solid;
        background-color: #4c525a;
        opacity: 0.26;
        width: 182px;
        height: 38px;
    }
    
    .button_value {
        font-family: "MuseoSansLight";
        color: #e1e1e1;
        font-size: 14px;
        line-height: 18px;
    }
    
    .product_choose {
        border-width: 1px;
        border-color: #ffffff;
        border-style: solid;
        background-color: #111a28;
        opacity: 0.26;
        /* width: 67px; */
        /* height: 30px; */
        font-family: "MuseoSansLight";
        color: #e1e1e1;
        font-size: 14px;
        line-height: 18px;
        -webkit-appearance: none;
        background-image: url('../img/arrow.png');
        background-position: right;
        background-repeat: no-repeat;
        padding: 5px 20px;
    }
    
    .product_option {
        text-align: center;
    }
    
    .product_field {
        padding-left: 0;
        border: none;
        padding-bottom: 29px;
    }